.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
}

.button {
    border: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.33;
    font-weight: bold;
    padding: 16px 32px;
    border-radius: 4px;
    display: inline-block;
    font-family: "Poppins";
    max-width: max-content;
    color: var(--yellow-005);
    text-transform: uppercase;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    background: linear-gradient(#FFC800, #F2A50C);
}

.button.secundario {
    background: var(--color-gray-1000);
    color: var(--color-gray-200);
}

.button.secundario:hover {
    background: var(--color-gray-900);
}
.button.arrow{
    display: flex;
    align-items: center;
}

.button.arrow::after {
    content: "";
    width: 18px;
    height: 10px;
    margin-left: 12px;
    display: inline-block;
    transition: trasform .2s;
    background: url("../../../img/icones/seta.svg");
}

.button.arrow:hover::after {
    transform: translateX(4px);
}

.button:hover {
    background: linear-gradient(#FFB60D, #E59317);
}


@media (max-width: 600px) {
    .button {
        font-size: 1px;
        padding: 12px 16px;
    }
}

.link {
    display: inline-block;
    text-transform: uppercase;
    color: var(--color-yellow-100);
    font: 500 1.5rem/1.5 "Poppins", sans-serif;
}

.link::after {
    width: 100%;
    content: "";
    height: 4px;
    display: block;
    background-color: currentColor;
}

.link:hover {
    color: var(--color-white)
}

/* Títulos Internos */
.titulo-bg {
    background-color: var(--color-gray-1100);
    padding: 60px 0;
}

.titulo p{
    margin-bottom: 4px;
}

@media (max-width: 800px) {
    .titulo-bg {
        padding: 40px 0;

    }
    
    .titulo p{
        font-size: 1rem;
        font-weight: 400;
        text-transform: lowercase;
    }
}